body {
}
input#current-document {
	width: 15px;
	text-align: center;
}
#button-bar {
	display: none;
}
input#tfidf-threshold {
	width: 75px;
}
#token-list {
	padding-right: 10px;
	float: left;
}
#fieldset-tfidf {
	display: inline;
	padding: 7px;
}
#container-slider {
	display: inline-block;
	width: 75px;
}
.inline {
	display: inline;
	padding: 7px;
}
#data {
	width: 78%;
}
.inline-block {
	display: inline-block;
	vertical-align: top;
}

