body {
}
#button-bar {
	display: none;
}
input#current-document {
	width: 15px;
	text-align: center;
}
#token-list {
	padding-right: 10px;
}
#data {
	width: 78%;
}
.inline-block {
	display: inline-block;
	vertical-align: top;
}
